/* CPU BASE*/

body {
  background-color: #00466e;
  background-image: url("https://cdn.glitch.com/e4863b35-a483-4826-9c93-9336d204605e%2Fmatrix.gif");
  background-size: space;
}

p {
  color: #e6e6e6;
}
a {
  text-decoration: none;
  color: green;
  background-color: gold;
}

a-scene {
  background-color: blue;
  background-image: url("https://cdn.glitch.com/e4863b35-a483-4826-9c93-9336d204605e%2Fmatrix.gif");
}

a-link {
  position: relative;
  display: block;
  border-style: none;
  border-color: transparent;
  width: 150px;
  height: 150px;
}

h1 {
  color: gold;
  font-size: 62px;
  font-weight: bold;
}

li {
  list-style-type: none;
  margin: 15px;
  font-size: 25px;
  font-weight: bolder;
}

.desktop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: -5px;
  margin-bottom: -5px;
  width: 100%;
  max-height: 50px;
  height: 45px;
  background-color: transparent;
  border-style: none;
  border-color: none;
  padding: 6px;
  z-index: 10;
}

.Text {
  position: fixed;
  top: 0;
  margin-left: 45rem;
  margin-right: auto;
  background-color: transparent;
  border-style: none;
  border-color: none;
  padding: 6px;
  text-align: center;
  z-index: 10;
}

.desktop {
  position: fixed;
  overflow: auto;
}

.MGmenus {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: -5px;
  margin-right: 45px;
  display: none;
  padding: 3px;
  margin-bottom: 10px;
  width: 60px;
  height: 200px;
  max-width: 80px;
  max-height: 400px;
  background-color: transparent;
}

.MGmenu {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: -5px;
  margin-right: 45px;
  display: block;
  padding: 3px;
  margin-bottom: 10px;
  width: 60px;
  height: 300px;
  max-width: 80px;
  max-height: 360px;
  background-color: transparent;
  z-index: 9;
  border-style: none;
}

.VideoSplash {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.SplashScreen {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.WebSplash {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.Tabmenu {
  float: left;
  display: block;
  bottom: 0;
  padding: 3px;
  margin-bottom: 10px;
  margin-left: 61px;
  width: 70px;
  height: 300px;
  max-width: 100px;
  max-height: 400px;
  overflow: none;
  background-color: transparent;
  z-index: 4;
  border-style: none;
}
.ToolBarMenus {
  position: fixed;
  display: none;
  right: 0;
  bottom: 0;
  height: 80px;
}
.ToolBarMenu {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  width: 75px;
  height: 150px;
  padding: 2px;
  margin: 3px;
  background-color: transparent;
  z-index: 9;
  border-style: none;
}

.GLinks {
  position: relative;
  max-width: 10px;
  font-size: 10px;
  padding: 2px;
  color: #0d0d0d;
  text-decoration: none;
  margin-bottom: 5px;
  line-height: 10px;
  border-color: none;
  font-weight: bolder;
  background-color: transparent;
}

.GLinks:hover {
  position: relative;
  max-width: 10px;
  font-size: 10px;
  padding: 2px;
  color: #0d0d0d;
  text-decoration: none;
  margin-bottom: 5px;
  line-height: 10px;
  border-color: none;
  font-weight: bolder;
  background-color: grey;
}

/* Toolbar Icons */

.Logomenu {
  float: left;
  display: block;
  border-style: none;
  width: 44px;
  height: 44px;
  background-image: url("https://cdn.glitch.com/e4863b35-a483-4826-9c93-9336d204605e%2Fpolygonal-light-bulb.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 25px;
  margin-left: 4px;
}

/* Desktop icon apps */
.LInfinite {
  display: block;
  border-style: none;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  background-image: url("https://cdn.minds.com/fs/v1/avatars/604673111018713103/large/1501119136");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  margin-left: -7px;
  margin-top: 10px;
  clear: both;
  margin-bottom: 55px;
  text-decoration: none;
  color: grey;
}


/* Menu App Icons */

.upload {
  margin: 7px;
}
.gamepad {
  margin: 4px;
}

.tools {
  margin: 4px;
}

.sgamertube {
  display: block;
  border-style: none;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin: 4px;
  background-image: url("https://cdn.glitch.com/e4863b35-a483-4826-9c93-9336d204605e%2F24hrImaginarium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Group Icons */

.mindsgaming {
  margin: 5px;
}

/* Other Icons */

.sclose {
  position: relative;
  float: left;
  padding: 1px;
  margin: 6px;
}

.sminus {
  position: fixed;
  top: 0;
  right: 0;
  margin: 4px;
  z-index: 12;
  filter: sepia(100%);
}

.PopOut {
  position: fixed;
  display: none;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 26px;
  background-color: yellow;
  z-index: 11;
}
