body {
  margin: auto;
}

wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.glitch.com/e4863b35-a483-4826-9c93-9336d204605e%2FInfinite3.gif?v=1611685158621");
  background-size: cover;
  background-repeat: no-repeat;
}

gameboard {
  float: left;
  width: 100%;
  height: 45%;
  background-color: transparent;
}

.gameboard {
  float: left;
  width: 100%;
  height: 45%;
  background-color: transparent;
  transform: rotate(180deg);
}

deck {
  float: left;
  width: 100%;
  height: 10%;
  background-color: green;
}

mana {
  float: left;
  display: block;
  margin-top: 0.5rem;
  width: 70px;
  height: 90px;
  margin-right: 15px;
  background-color: transparent;
  background-image: url("https://lh3.googleusercontent.com/hRBzcjWeBDr2oXJnk6K-UUtgrs_9samWXIxznQRxm7YQh49zXbhPPWDAutr2_p3EY3BbDrhRb2an9PnxzD5ecdQbTKiWf3nNtJY4DQ=s260");
  background-repeat: no-repeat;
  background-size: contain;
  color: red;
}

meter {
  width: 100%;
}
input {
  width: 99%;
}

addcards {
  position: fixed;
  display: block;
  width: 85px;
  height: 20px;
  bottom: 0;
  right: 0;
  margin: 5px;
  margin-bottom: 15px;
  background-color: white;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
}

.addcards {
  position: fixed;
  display: block;
  width: 10%;
  height: 5%;
  bottom: 0;
  right: 0;
  margin-right: 100px;
  margin-bottom: 45px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  display: none;
  z-index: 2;
}

.pop {
  display: block;
}

input {
  width: 80%;
}

.playcard {
  float: left;
  display: block;
  width: 120px;
  height: 99%;
  margin-bottom: 2px;
  margin-left: 2%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0.5px;
  z-index: 12;
  background-color: black;
}

.playcard1 {
  position: fixed;
  float: right;
  display: block;
  width: 30%;
  height: 40%;
  margin: auto;
  margin-left: 20%;
  margin-top: 10%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0.5px;
  z-index: 12;
}

.playcard2 {
  position: fixed;
  float: left;
  display: block;
  width: 30%;
  height: 40%;
  margin-left: 60%;
  margin-top: 10%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0.5px;
  z-index: 12;
}

.life {
  position: fixed;
  right: 0;
  margin: 5px;
  padding: 2px;
  border-style: solid;
  border-color: red;
  background-color: red;
}

.Nav {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 4%;
  background-color: grey;
  opacity: 0.8;
}

.nav {
  display: none;
}

.vanish {
  display: none;
}

.tapcard {
  transform: rotate(90deg);
}

li {
  display: none;
}

.airdrop {
  position: fixed;
  right: 0;
  top: 0;
  width: 65px;
  height: 65px;
  color: blue;
  text-align: center;
  background-image: url("https://cdn.glitch.com/6ca1674b-a03a-4e9c-9563-ed6203267aba%2Fairdrop.gif");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 15px;
  padding: 2px;
  z-index: 12;
}
